Jinja2==2.7.3
MarkupSafe==0.23
jira==0.47
numpy==1.9.2
oauthlib==0.7.2
python-dateutil==2.4.2
requests==2.6.2
requests-oauthlib==0.4.2
requests-toolbelt==0.4.0
six==1.9.0
tlslite==0.4.8
wsgiref==0.1.2
gevent
